<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Basic HTML Form</h1>
        <form action="" method="post">
            {% csrf_token %}
            <label for="un">UserName:</label>
            <input type="text" name="usn" id="un"><br>
            <label for="ps">Password:</label>
            <input type="password" name="psw" id="ps"><br>
            <input type="submit">
        </form>
    </center>
</body>
</html>