<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Customer Details Form</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="c_id" >CustomerID</label>
            <input type="text" name="c_id" id="c_id" ><br>
            <label for="c_n">Name</label>
            <input type="text" name="c_n" id="c_n"><br>
            <label for="c_add">Address</label>
            <input type="address" name="c_add" id="c_add"><br>

            <input type="submit">

        </form>
    </center>
</body>
</html>