<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>Customer Details</h1>
    <table border="2px">
        <tr>
            <th>Customer ID</th>
            <th>Customer Name</th>
            <td>Customer Address</td>
        </tr>
        {% for a in Customer_Details %}
        <tr>
            <td>{{a.Customer_Id}}</td>
            <td>{{a.Customer_Name}}</td>
            <td>{{a.Customer_Address}}</td>
        </tr>
        {% endfor %}
    </table>
    </center>
</body>
</html>